.footer {
    background: rgba(51, 51, 51, 0.05);
    padding-top: 60px;
    height: 588px;
    margin-top: 120px; 
    }
    
.footer__container {
    display: flex;
    gap: 69px;
    }
    
.title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #333333;
    width: 217px;
    }
    
.addres {
    width: 221px;
    }

.addres__list {
    list-style: none;
    padding: 0;
        
    }
    
.item {
    margin-top: 24px;
    height: 20px;
    margin-left: 0;
    }
    
.contact {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
    color: #333333;
    }
    
.icon {
    fill: #EC1B2E;
    }
    
.footer__icon {
    margin-top: 40px;
    }
    
.img__list {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    }

.network__icon {
    fill: black;
    }
    
.network__icon:hover,
.network__icon:focus {
    fill: #EC1B2E;
    }
    
.wrap {
    width: 200px;
    }
    
.capthion {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #333333;
    }
    
.list {
    list-style: none;
    margin-top: 25px;
    padding: 0;
    }
    
.link {
    margin-top: 15px;
    }
    
.text { 
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #333333;
    }

.capthions {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #333333;
    margin-top: 40px;
    }
 
.line {
    content: '';
    width: 1296px;
    height: 1px;
    background-color: #333333 ;
    margin-top: 60px;
    }
     
.logo-scool__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #333333;
    padding-top: 25px;
    padding-bottom: 25px;
    }

